body {
    font-family: "Roboto Mono", monospace;
    min-height: 400px;
    background-image: url("https://i.postimg.cc/L8wPtxn9/Leprechaun-cuate.png");
    background-color: #fff;
    background-size: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
    color: #000;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
    color: #000;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
    color: #000;
  }
  
  .page-logo {
    width: 200px;
    position: relative;
    top: 90%;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
  }
  
  label {
    color: white;
  }
  
  button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
  }
  
  h2 {
    color: #fff;
    font-size: 30px;
    background-color: #000;
    border-radius: 25px;
    margin: 0 auto;
    diplay: block;
    width: 50%;
  }
  